<div class="brand clearfix">
    <ul class="ts-profile-nav">
        <li class="ts-account">
            <a href="#"><img src="{{ asset("img/me.jpg") }}" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
            <ul>
                <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
