{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-changelog">
        <h2 class="page-title">Changelog</h2>

        <div class="well">
            <code>TODO</code>
            <ul>
                <li></li>
                <li>technology in search engine server/host</li>
                <li>multiple host on different project hosted on the same server, remove link project/server ?</li>
                <li>change server/domain/host display list in parent entity</li>
                <li>create api.actarus.10degres.net to perform crud</li>
                <li>implement Markdown</li>
                <li>merge all entities in 1 table</li>
                <li>link/url/email to project bug bounty program</li>
                <li>money managment</li>
                <li>report managment</li>
                <li>reminder</li>
                <li>domain/dns expire managment, store the date</li>
                <li>project_id for technology</li>
                <li>different form type for add, edit, delete</li>
                <li>service it all (form creation and their actions)</li>
                <li>flash message on all action (add,import,edit,delete) even ajax action</li>
                <li>edit (entity,task) bug</li>
                <li>entity_id in search engine (alter entity_id add letters after the first char)</li>
                <li>bulk actions in search engine</li>
                <li>settings multi lang</li>
                <li>settings user profile</li>
                <li>multi user</li>
                <li>direct links to search engine results (host,server,techno...)</li>
                <li>convert return service html to json (commment/alert/task/techno...)</li>
                <li>request edit</li>
                <li>double login fix</li>
                <li>possibility to choose what task perform during recon</li>
                <li>rewrite available task and interpreter functions as external modules</li>
            </ul>
        </div>

        <div class="well">
            <code>21/08/2017</code>
            <ul>
                <li>link alert to the task that create them</li>
                <li>task create by cron have now a higher priority</li>
                <li>possibility to interpret the task that have been cancelled</li>
                <li>whitelist of external domain that can be scanned</li>
                <li>csv export function for domain/host/server/bucket search result</li>
                <li>the runner and interpreter don't change the status of the entity anymore</li>
                <li>import domain/host/server/bucket rewritten (mass is possible now and some more options)</li>
                <li>possibility to choose what domain to "Survey"</li>
            </ul>
        </div>
        <div class="well">
            <code>After a while...</code>
            <ul>
                <li>task priority system</li>
                <li>fix a huge bug on delete cascade</li>
                <li>added the status for task "tokill"</li>
                <li>and many other stuff I don't remember...</li>
            </ul>
        </div>
        <div class="well">
            <code>25/09/2016</code>
            <ul>
                <li>daemon max child free place to prevent error message</li>
                <li>reviews add techno, icons, double, mass add, implies (link between techno)</li>
            </ul>
        </div>
        <div class="well">
            <code>23/09/2016</code>
            <ul>
                <li>myparameters.yml refactoring</li>
                <li>wpscan integration</li>
                <li>mysql firewall</li>
            </ul>
        </div>
        <div class="well">
            <code>22/09/2016</code>
            <ul>
                <li>daemon ignore task</li>
                <li>third server installed (jth)</li>
            </ul>
        </div>
        <div class="well">
            <code>21/09/2016</code>
            <ul>
                <li>cluster_id for multi server</li>
                <li>gui design</li>
                <li>host and testhttp interpreters rewrite</li>
            </ul>
        </div>
        <div class="well">
            <code>20/09/2016</code>
            <ul>
                <li>search aws s3 bucket on google (theharvester)</li>
                <li>replace alert circle icons by bells</li>
            </ul>
        </div>
        <div class="well">
            <code>19/09/2016</code>
            <ul>
                <li>a host can be on multiple server</li>
            </ul>
        </div>
        <div class="well">
            <code>18/09/2016</code>
            <ul>
                <li>checkbox "perform recon" when import entities</li>
                <li>task count in search engine NEIN!</li>
                <li>testhttp added & interpreter, disabling whatweb</li>
                <li>implements mysqli instead of mysql</li>
                <li>task priority for multiple servers</li>
            </ul>
        </div>
        <div class="well">
            <code>18/09/2016</code>
            <ul>
                <li>testhttp dev</li>
            </ul>
        </div>
        <div class="well">
            <code>16/09/2016</code>
            <ul>
                <li>checkbox "perform recon" when adding entities</li>
            </ul>
        </div>
        <div class="well">
            <code>15/09/2016</code>
            <ul>
                <li>disable comments and loots</li>
                <li>create actarus project to manage global alerts</li>
                <li>remove tasks counter</li>
                <li>use a second web server</li>
                <li>add opened port in server search results</li>
            </ul>
        </div>
        <div class="well">
            <code>14/09/2016</code>
            <ul>
                <li>easy entity status switcher</li>
                <li>score calculation functions</li>
                <li>Hackerone grabber v1</li>
            </ul>
        </div>
        <div class="well">
            <code>09/09/2016</code>
            <ul>
                <li>isExist method to test if an entity already exit (edit function)</li>
            </ul>
        </div>
        <div class="well">
            <code>12/09/2016</code>
            <ul>
                <li>gui design</li>
                <li>datatables</li>
            </ul>
        </div>
        <div class="well">
            <code>09/09/2016</code>
            <ul>
                <li>Alert edit</li>
            </ul>
        </div>
        <div class="well">
            <code>08/09/2016</code>
            <ul>
                <li>project status, domain status</li>
                <li>entity status set to "todo" after task is interpreted</li>
                <li>project status, domain status</li>
                <li>search engines project</li>
            </ul>
        </div>
        <div class="well">
            <code>07/09/2016</code>
            <ul>
                <li>design ui/ux</li>
                <li>server status, host status</li>
            </ul>
        </div>
        <div class="well">
            <code>05/09/2016</code>
            <ul>
                <li>entity_alert, entity_task search project</li>
            </ul>
        </div>
        <div class="well">
            <code>04/09/2016</code>
            <ul>
                <li>Host interpreter</li>
            </ul>
        </div>
        <div class="well">
            <code>02/09/2016</code>
            <ul>
                <li>portscan nc</li>
            </ul>
        </div>
        <div class="well">
            <code>24/08/2016</code>
            <ul>
                <li>task killer</li>
            </ul>
        </div>
        <div class="well">
            <code>19/08/2016</code>
            <ul>
                <li>fix js/modal multi event</li>
                <li>user system permission to launch task</li>
            </ul>
        </div>
        <div class="well">
            <code>11/08/2016</code>
            <ul>
                <li>search engine post to get</li>
                <li>search function count</li>
                <li>pagination in search engine</li>
            </ul>
        </div>
        <div class="well">
            <code>10/08/2016</code>
            <ul>
                <li>command accordion + for big panel NEIN!</li>
                <li>host interpret</li>
            </ul>
        </div>
        <div class="well">
            <code>09/08/2016</code>
            <ul>
                <li>search as service</li>
                <li>search function array</li>
            </ul>
        </div>
        <div class="well">
            <code>06/08/2016</code>
            <ul>
                <li>task managment (show,edit,delete)</li>
            </ul>
        </div>
        <div class="well">
            <code>03/08/2016</code>
            <ul>
                <li>alert text pattern (twig or eval)</li>
                <li>task duration</li>
                <li>settings task managment</li>
            </ul>
        </div>
        <div class="well">
            <code>28/07/2016</code>
            <ul>
                <li>clean shell output (colors)</li>
                <li>stats instead of logo in topbar, no more topbar!</li>
                <li>task management: relaunch & kill</li>
            </ul>
        </div>
        <div class="well">
            <code>27/07/2016</code>
            <ul>
                <li>command pattern management: nmap, dirb, nikto...</li>
                <li>create TaskInterpret with regexp that generate EntityAlert</li>
                <li>delete cascade entity id alert/comment/loot/task...</li>
            </ul>
        </div>
        <div class="well">
            <code>26/07/2016</code>
            <ul>
                <li>task management: auto refresh</li>
                <li>design issue</li>
                <li>dashboard</li>
                <li>first test in prod</li>
                <li>git repository</li>
                <li>file system permission</li>
            </ul>
        </div>
        <div class="well">
            <code>25/07/2016</code>
            <ul>
                <li>alert comment ? NEIN!</li>
                <li>do creation as service + recons NEIN!</li>
                <li>rename Comment to EntityComment</li>
                <li>loot managment like comments</li>
                <li>mod function</li>
                <li>alert for domain</li>
                <li>project alert</li>
                <li>project command</li>
                <li>server ip->name, name->alias</li>
            </ul>
        </div>
        <div class="well">
            <code>08/07/2016</code>
            <ul>
                <li>techno list jquery select</li>
                <li>higher level of alert for each entity</li>
                <li>score calculation, 5*5+4*3+6*1...</li>
                <li>techno managment (host,server)</li>
            </ul>
        </div>
        <div class="well">
            <code>07/07/2016</code>
            <ul>
                <li>create EntityTechnology (with version)</li>
                <li>alert managment like comments + icon</li>
            </ul>
        </div>
        <div class="well">
            <code>06/07/2016</code>
            <ul>
                <li>rename Alert to EntityAlert</li>
                <li>server name <-> ip NEIN!</li>
                <li>rename Command to EntityTask</li>
            </ul>
        </div>
        <div class="well">
            <code>05/07/2016</code>
            <ul>
                <li>import host</li>
                <li>import server</li>
                <li>rename project to arusproject</li>
            </ul>
        </div>
        <div class="well">
            <code>04/07/2016</code>
            <ul>
                <li>console arus:run <command_id></li>
                <li>console arus:interpert <command_id></li>
                <li>function create <entity></li>
                <li>function interpret <command></li>
                <li>pid command</li>
                <li>reload block</li>
            </ul>
        </div>
        <div class="well">
            <code>Jadis...</code>
            <ul>
                <li>settings binary path (fierce,nmap,sqlmap...)</li>
                <li>external command</li>
                <li>*_command fusion</li>
                <li>comments table</li>
                <li>entity fusion: project, server, domain, host NEIN!</li>
                <li>technology managment NEIN!</li>
            </ul>
        </div>
    </div>
{% endblock %}
