{% extends 'base.html.twig' %}


{% block body %}
    <div class="mod mod-settings">
        <h2 class="page-title">Maintenance actions</h2>

        <div>
            &gt; <a href="{{ url('maintenance_actions_cancelled_task') }}">Interpret cancelled tasks</a>
        </div>
    </div>
{% endblock %}
